:root{
    --color-primario:rgb(0, 0, 0);
    --color-segundario:rgb(253, 2, 2);
    --color-terciario:rgb(77, 75, 75);

    --color-azul-claro:#3396ff;
    --fondo-admin:rgb(220, 218, 218);
    --font-family:sans-serif;
}