<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>

<body>
    <main>
        <aside class="danger_hidden" id="danger_hidden">
            <div class="mensaje">
                <p id="error"></p>
            </div>
        </aside>
        <aside>
            <div class="titulo_login">
                <div class="contenedor_titulo_login">
                    <div>
                        <img src="../img/logo.png" alt="logo" class="logo">
                    </div>
                    <div class="titulo">
                        <h3>Iniciar Sección</h3>
                    </div>
                </div>
            </div>
            <div class="entrada_texto">
                <form id="formulario" enctype="multipart/form-data" method="POST" name="form">
                    <div>
                        <p class="label">Usuario:</p>
                        <input type="text" name="_user" id="user">
                    </div>
                    <div>
                        <p class="label">Contraseña: </p>
                        <input type="password" name="_password" id="password">
                    </div>
                    <div class="contraseña_olvida">
                        <p><a href="">¿Olvidaste tu contraseña?</a></p>
                    </div>
                    <div class="btn_login">
                        <input type="submit" value="Login" name="enviar" id="botn_login">
                    </div>
                    <div class="contraseña_olvida">
                        <p><a href="/index.html">< volver</a></p>
                    </div>
                    
                </form>
            </div>
        </aside>
    </main>
    <script src="../js/login.js"></script>
</body>

</html>